
<table>
  <tr>
    <th>Title</th>
    <th>Year</th>
    <th>Duration</th>
    <th>Description</th>
    <th>Image</th>
  </tr>
  <tr>
    <td>
      <%= @movie.title %>
    </td>
    <td>
      <%= @movie.year %>
    </td>
    <td>
      <%= @movie.duration %>
    </td>
    <td>
      <%= @movie.description %>
    </td>
    <td>
      <%= @movie.image_url %>
    </td>
    <td>
      <a href="http://localhost:3000/delete_movies/<%= @movie.id %>">
        Delete
      </a>
    </td>
  </tr>
</table>
