<h1>Edit a new Director</h1>
<form  action="/directors/update_row/<%=@director.id %>">
  <div >
    <label for="director_name"> Director Name</label>
    <input id="director_name" name="name" type = "string" value = "<%=  @director.name%>">
  </div>
  <div >
    <label for="director_dob"> Director DOB</label>
    <input id="director_dob" name="dob" type = "string" value = "<%=  @director.dob%>">
  </div>
  <div >
    <label for="director_bio"> Director Bio</label>
    <input id="director_bio" name="bio" type = "text" value = "<%=  @director.bio%>">
  </div>
  <div >
    <label for="director_image"> Director Image</label>
    <input id="director_image" name="image_url" type = "string" value = "<%=  @director.image_url%>">
  </div>
  <div>
      <button>Edit Director </button>
  </div>

</form>
