<h1>List of Directors</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Bio</th>
    <th>Date of Birth</th>
    <th>Image</th>
  </tr>
  <% @list_of_directors.each do |director| %>
  <tr>
    <td>
      <%= director.name %>
    </td>
    <td>
      <%= director.bio %>
    </td>
    <td>
      <%= director.dob %>
    </td>
    <td>
      <%= director.image_url %>
    </td>
    <td>
      <a href="http://localhost:3000/delete_directors/<%= director.id %>">
        Delete
      </a>
    </td>
    <td>
    <a href="http://localhost:3000/directors/<%= director.id %>">Show</a>
  </td>
  <td>
    <a href="http://localhost:3000/director/<%= director.id %>/edit_form">Edit</a>
  </td>
  </tr>
  <% end %>

</table>
